/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(#35495e, #41b883 );
    font-family: 'Source Code Pro', monospace;
}

/* LAYOUT */

 .container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* HEADER SECTION */

.app-header {
    margin: 30px 0;
    text-align: center;
    color: #fff;
}

.app-header img {
    max-width: 200px;
}

/* INPUT TEXT SECTION */

.new-todo {
    display: flex;
}

.new-todo input,
.new-todo button {
    height: 50px;
    border: 0;
    outline: none;
}

.new-todo input {
    flex-grow: 1;
    font-family: 'Source Code Pro', monospace;
    padding: 0 10px;
    margin-right: 20px;
    border-radius: 10px;
    border-bottom: 1px solid #ccc;
    transition: border 0.4s;
}

.new-todo input:hover,
.new-todo input:focus {
    border-color: #41b883;
}

.new-todo button {
    padding: 0 30px;
    text-transform: uppercase;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
    background: linear-gradient(#35495e, #41b883);
    cursor: pointer;
    transition: all .4s;
}

.new-todo button:hover,
.new-todo button:focus {
    background: linear-gradient(#41b883, #35495e);
    opacity: .8;
}

/* TODO LIST */

.todos-container {
    margin: 50px 0;
    padding: 15px 30px;
    background: #fff;
    border-radius: 10px;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.todo i {
    cursor: pointer;
    transition: color .4s;
}

.todo i:hover {
    color: #41b883;
}

.todo:last-child {
    border-bottom: 0;
}

.todo .text {
    cursor: pointer;
}

/* COMPLETED */

/* A */

.todo .text.completed {
    text-decoration: line-through;
}